[submodule "modules/ff_meters"]
	path = modules/ff_meters
	url = https://github.com/ffAudio/ff_meters.git
	branch = master
[submodule "foleys_video_engine"]
	path = modules/foleys_video_engine
	url = https://github.com/ffAudio/foleys_video_engine.git
	branch = feature/cmake
